/*breakpoints для адаптиву--480, 768, 1200--*/
/*змінні для кольору та переходів*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --btn-bck-color: #f5f4fa;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* колір фону #FFFFFF */
/* колір основного тексту: #757575; */
/* другорядний колір тексту #212121; */
/* акцент #2196F3 */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/*Обнуляємо стилі заголовків, абзаців, списків */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

/* .list,
.examples {
  margin: 0;
  padding: 0;
} */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* HEADER */

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .auth-nav {
    display: none;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}
/* .section {
  padding-bottom: 60px;
  padding-top: 60px;
} */
/*NAVIGATION*/

/* .page-header-container {
  position: relative;
} */

/*LOGO*/

/* .logo {
  display: inline-block;
  margin-right: auto;

  color: var(--secondary-text-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.web-logo {
  color: var(--accent-color);
} */
