/*breakpoints для адаптиву--480, 768, 1200--*/
/*змінні для кольору та переходів*/
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --btn-bck-color: #f5f4fa;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* колір фону #FFFFFF */
/* колір основного тексту: #757575; */
/* другорядний колір тексту #212121; */
/* акцент #2196F3 */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/*Обнуляємо стилі заголовків, абзаців, списків */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

/* .list,
.examples {
  margin: 0;
  padding: 0;
} */

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*---Відступи між секціями---*/

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200) {
  .section {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

/*---Стилі для заголовків---*/
.section .section-title {
  margin-bottom: 30px;
  color: var(--secondary-text-color);
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .section .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

/* HEADER */

/*---Header mobile---*/

header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }

  .auth-nav {
    display: none;
  }
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/*---Лого---*/

.logo {
  display: inline-block;
  margin-right: auto;

  color: var(--secondary-text-color);

  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.web-logo {
  color: var(--accent-color);
}

/*---Header планшет та десктоп---*/
/*---Site-nav---*/
@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    align-items: center;
  }

  .site-nav {
    display: flex;
    margin-left: 96px;
  }

  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }

  .site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--secondary-text-color);

    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
  }

  .site-nav .current {
    color: var(--accent-color);

    position: relative;
    opacity: 1;
  }

  .site-nav .current::after {
    content: '';
    display: inline-block;
    color: var(--accent-color);

    position: absolute;
    margin: 0;
    box-sizing: border-box;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    bottom: 0;
  }

  /* Auth-nav */
  .auth-nav .link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .auth-nav .link:hover,
  .auth-nav .link:focus {
    color: var(--accent-color);
  }

  .auth-icon {
    margin-right: 8px;
    fill: currentColor;
    display: block;
  }

  .auth-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-left: auto;
  }

  .auth-nav .item:not(:last-child) {
    margin-right: 30px;
  }

  .auth-nav .link {
    font-size: 14px;
    line-height: 1.14;
  }

  .site-nav {
    margin-right: 315px;
  }

  .auth-icon {
    margin-right: 10px;
  }
}

/* MOBILE MENU */

@media screen and (max-width: 767px) {
  .mobile-menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-bg-color);
    z-index: 1000;

    /*---ховаємо мобільне меню---*/
    opacity: 0;
    visability: hidden;
    pointer-events: none;

    transition: var(--transition-dur-and-func);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visability: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mobile-menu-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-close-icon {
    transition: var(--transition-dur-and-func);
  }

  .mobile-menu-close-icon:hover,
  .mobile-menu-close-icon:focus {
    fill: var(--accent-color);
  }

  .site-nav-mobile .item:not(:last-child) {
    margin-bottom: 32px;
  }

  .site-nav-mobile {
    margin-bottom: 302px;
  }

  .site-nav-mobile .mobile-menu-link {
    color: var(--secondary-text-color);

    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .site-nav-mobile .mobile-menu-link:hover,
  .site-nav-mobile .mobile-menu-link:focus {
    color: var(--accent-color);
  }

  .auth-nav-mobile .mobile-menu-link-phone {
    margin-bottom: 32px;

    color: var(--accent-color);

    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .auth-nav-mobile .mobile-menu-link-mail {
    color: var(--primary-text-color);

    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .social-mobile {
    display: flex;
  }

  .social-mobile .item.item:not(:last-child) {
    margin-right: 20px;
  }

  .social-mobile .link {
    color: var(--accent-color);

    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-decoration: none;
  }

  .social-mobile .link::after {
    content: '';
    display: inline-block;
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

    position: absolute;
    margin: 0;
    box-sizing: border-box;
    width: 28px;
    height: 4px;
    border-radius: 2px;
    bottom: 0;
  }
}

/*---Закриваємо мобільне меню для планшету та десктопу---*/

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }

  .mobile-menu-button {
    display: none;
  }
}

/*---HERO---*/
.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: auto;
  background-color: #2f303a;
  /* background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg); */
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  color: var(--primary-bg-color);

  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

/* Button */

button {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
}

.button.primary {
  display: block;
  margin: auto;
  min-width: 200px;
  padding: 10px 24px;
  border-radius: 4px;
  border-style: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: var(--transition-dur-and-func);
}

.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .button.primary {
    min-width: 216px;
    padding: 10px 32px;
  }
}

/* Advantages  */
.advantages .item {
  width: 100%;
}

.advantages .title {
  margin-bottom: 10px;

  color: var(--secondary-text-color);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages .text {
  font-size: 14px;
  line-height: 1.71;
}

.advantages .icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--btn-bck-color);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .advantages .title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .advantages .item {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages .item {
    width: 270px;
  }
}

/* Projects */
@media screen and (max-width: 1199px) {
  .additional-content {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section-projects {
    padding-top: 0px;
  }

  .section-list {
    display: flex;
    justify-content: space-between;
  }

  .section-projects .item {
    display: block;
    position: relative;
  }

  .section-projects .label {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;

    position: absolute;
    width: 100%;
    height: 70px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27, 113;

    color: var(--primary-bg-color);
    background: rgba(47, 48, 58, 0.8);
  }
}

/*---Стилі для приховування елементів---*/

.visually-hidden,
.checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*---Section Team---*/

.section-team {
  background-color: var(--btn-bck-color);
}

.section-list .item {
  background-color: #fff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.person-img {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 10px;
  text-align: center;

  font-color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.position {
  margin-bottom: 16px;
  text-align: center;

  font-color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section-list .social-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 30px;
}

.section-list .social-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
}

.section-list .social-item:last-child {
  margin-right: 0px;
}

.social-list .social-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;

  color: rgba(175, 177, 184, 1);
  background-color: var(--primary-bg-color);
  border-radius: 50%;

  transition: var(--transition-dur-and-func);
}

.section-list .social-icon {
  fill: currentColor;

  transition: background-color var(--transition-dur-and-func);
}

.section-list .social-link:hover,
.section-list .social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.section-list .social-link:hover .social-icon,
.section-list .social-link:focus .social-icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .section-list {
    display: flex;
  }

  .section-list .item:not(:last-child) {
    margin-right: 30px;
  }
}
